Maya/workspace.mel
.DS_Store

Maya/movies/Ball walk fk controlls.mov

Maya/movies/Skeleton Walk Cycle.mov

Maya/movies/Run Cycle.mov

Maya/movies/Jump Cycle.mov

Maya/movies/Vitality walk.mov

Maya/movies/

Maya/assets/environment/
